
body {
}

.head{
  font-size: 18px;
  background-color: #999779;
}

main{
  background-color: #b3ccff;
  display: inline;
}

.test{
  text-align: center;
  font-size: 15px;
  background-color: #999999;
  color: red;
}

.top{
  text-align: center;
  font-size: 20px;
  background-color: red;
  color: green;
}

nav li{
  display: inline ;
  margin-right: 1px ;
  color: #fff ;
  background: #c00 ;
  font-size: 14px;
}
.layout-sidebar-first{
  background-color: #66b3ff;
  float: left;
  width: 250px;
  height: 600px;
  margin: 5px;
  border: 2px solid #73AD21; 
}

